html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  min-height: 100vh; */
}

body {
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  background-color: #f7f7f9;
  /* min-height: 3000px; */
}

@media only screen and (max-width: 375px) {
  header {
    background-color: #ffffff;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 2.4rem; */
    height: 4.8rem;
    width: 100%;
    background-color: #ffffff;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.6rem;
  }

  nav img {
    width: 1.8rem;
    height: 1.2rem;
  }

  .headline {
    height: 60.4rem;
    /* width: 32.7rem; */
    background-image: url("./assets/images/header-shapes-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    gap: 1.2rem 0;
    background-color: #ffffff;
    padding: 0 1.6rem;
    border-bottom-left-radius: 15%;
  }

  .headline h1 {
    flex: 1 1 30rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    height: 15rem;
    color: #172b4d;
    margin: 0;
  }

  .headline p {
    flex: 1 1 30rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: #344563;
    line-height: 2.4rem;
    width: 32.7rem;
    height: 14.6rem;
    margin: 0;
  }

  .connect {
    flex: 1 1 30rem;
    text-decoration: none;
    color: #7f8cff;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  #logo {
    text-decoration: none;
    color: #6070ff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    margin-left: 1.6rem;
  }

  .social {
    flex: 0 17.017rem;
    list-style: none;
    padding: 0;
    height: 2rem;
    display: flex;
  }

  .social li {
    flex: 1;
  }

  .work {
    height: auto;
    display: grid; 
    grid-template: repeat(3, 1fr) / 32.7rem;
    justify-content: center;
    justify-items: center;
    row-gap: 8.8rem;
    padding: 1.6rem 1.6rem 0 1.6rem;
    margin-top: 11.4rem;
  }

  .project-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: #172b4d;
    margin: 1.2rem 0 0 0;
  }

  .project {
    border: .1rem solid #DFE1E6;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem 0;
    padding: 1.6rem 1.6rem 2.8rem 1.6rem;
    border-radius: 1.6rem;
  }

  .project-header {
    flex-basis: 29.5rem;
  }

  .project-details {
    flex-basis: 29.5rem;

  }

  .project-details ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0 1.2rem;
    margin: 0;
    padding: 0;
    width: 85%;
    justify-content: center;
  }

  .project-details ul li {
    text-align: center;
  }

  .project-details ul li:first-child {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: #344563;
    font-weight: 600;
    flex: 1;
  }

  .project-details ul li:nth-child(3) {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: #7a869a;
    font-weight: 600;
    flex: 3;
  }

  .project-details ul li:nth-child(5) {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: #7a869a;
    font-weight: 600;
    flex: 1;
  }

  /* .project-details ul li::before {
   =
  } */

  

  .project p {
    flex-basis: 29.5rem;
    margin: 0;
  }

  .project-tech-stack {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 29.5rem;
    display: flex;
    gap: 0 .8rem;
  }

  .project-header img {
    width: 29.5rem;
    height: 22rem;
    
  }

  .project-tech-stack li a {
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #6070ff;
    background-color: #ebebff;
    padding: .4rem 1.2rem;
    border-radius: .8rem;
  }

  .project-tech-stack a:hover {
    text-decoration: underline;
  }

  .btn {
    width: auto;
    display: flex;
    
    align-items: center;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 500;
    color:#396df2;
    border: .1rem solid #396df2;
    border-radius: .8rem;
    padding: 1.2rem;
  }

  .btn:hover {
    background-color: #6070ff;
    color: #ffffff;
    box-shadow: 5px 5px 15px 5px rgba(64, 83, 252, 0.24);
  }

  .btn:active {
    background-color: #2230d2;
    color: #ffffff;
  }

  .about-myself {
    background-color: #ffffff;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.2rem 0;
    margin: 11.4rem 0 0 0;
    padding: 0 2.4rem;
    border-top-right-radius: 15%;
  }

  .about-myself .title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 5.2rem;
    color: #172b4d;
    flex-basis: 32.7rem;
    margin-top: 11.4rem ;
  }

  .about-myself p {
    color: #344563;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.4rem;
    flex-basis: 32.7rem;
    margin: 0;
  }

  .contactme {
    color: #7f8cff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    flex-basis: 100%;
  }

  .socialmedia {
    flex-basis: 100%;
  }

  .socialmedia ul {
    list-style: none;
    display: flex;
    width: 20rem;
  }

  .socialmedia ul li {
    flex: 1;
  }

  .about-myself .skills {
    flex-basis: 100%;
  }

  .about-myself .skills ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .about-myself .skills ul li {
    flex-basis: 7.2rem;
    border-bottom: .1rem solid #dfe1e6;
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
    line-height: 7.2rem;
    
  }



}
